{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<p>Change your profile settings here:</p>
<form method="POST" action="/dashboard">
    <div class="form-group">
        <label for="firstname">Username:</label>
        <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}">
    </div>
    <div class="form-group">
        <label for="lastname">Password:</label>
        <input type="password" id="password" name="password" class="form-control" value="{{ user.password }}">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
{% endblock %}